body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #606C38;
}

h1 {
  text-align: center;
  font-size: 2em;
  background-color: #283618;
  color: #FEFAE0;
  padding: 20px;
  border-radius: 15px 50px 30px
}

#bigText {
  font-family: 'Roboto', sans-serif;
}

button {
  margin: 10px 5px;
  padding: 10px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

#output{
  font-family: 'Roboto', sans-serif;
  color: #DDA15E;
}

#subscribe{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}