


.ow img {
    border: 10px ridge #4f92b4;
    width: 85%;
}

.ow p {
    font: small-caps italic 2rem Helvetica;
    text-align: center;
}


h1 {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 500px;
    height: 128px;
    font-size: 50px;
    text-align: left;
    padding: 44px 0;
    color: red;
    background-size: 10px;
    background-color: blue;
    text-shadow: 1px 1px 1px black;



    
  }
  